<?xml version="1.0"?>
<config>
    <modules>
        <Exanto_Sphinxmage>
            <version>0.1.0</version>
        </Exanto_Sphinxmage>
    </modules>
    <global>
        <blocks>
            <sphinxmage>
                <class>Exanto_Sphinxmage_Block</class>
            </sphinxmage>
        </blocks>
        <models>
            <sphinxmage>
                <class>Exanto_Sphinxmage_Model</class>
            </sphinxmage>
            <sphinxmage_mysql4>
                <class>Exanto_Sphinxmage_Model_Mysql4</class>
            </sphinxmage_mysql4>
            <!-- Rewrite Mage_CatalogSearch Resource Models -->
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Exanto_Sphinxmage_Model_Resource_Fulltext</fulltext>
                    <fulltext_engine>Exanto_Sphinxmage_Model_Resource_Fulltext_Engine</fulltext_engine>
                </rewrite>
                <entities>
                    <fulltext>
                        <table>catalogsearch_fulltext_sphinx</table>
                    </fulltext>
                </entities>
            </catalogsearch_resource>
        </models>
        <helpers>
            <sphinxmage>
                <class>Exanto_Sphinxmage_Helper</class>
            </sphinxmage>
            <catalogsearch>
                <rewrite>
                    <data>Exanto_Sphinxmage_Helper_Data</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <resources>
            <sphinxmage_setup>
                <setup>
                    <module>Exanto_Sphinxmage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sphinxmage_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <sphinxmage module="Exanto_Sphinxmage">
                    <file>sphinxmage.xml</file>
                </sphinxmage>
            </updates>
        </layout>
        <routers>
            <sphinxmage>
                <use>standard</use>
                <args>
                    <module>Exanto_Sphinxmage</module>
                    <frontName>sphinxmage</frontName>
                </args>
            </sphinxmage>
        </routers>
        <translate>
            <modules>
                <Exanto_Sphinxmage>
                    <files>
                        <sphinxmage>Exanto_Sphinxmage.csv</sphinxmage>
                    </files>
                </Exanto_Sphinxmage>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <exanto_menu>
                <use>admin</use>
                <args>
                    <module>Exanto_Sphinxmage</module>
                    <frontName>exanto_sphinxmage</frontName>
                </args>
            </exanto_menu>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <exanto_sphinxmage>
                                            <title>Exanto Sphinxmage</title>
                                        </exanto_sphinxmage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <exanto_sphinxmage>
            <options>
                <numitems><![CDATA[5]]></numitems>
                <textattr><![CDATA[short_description]]></textattr>
                <textlen><![CDATA[120]]></textlen>
                <imgdim><![CDATA[48]]></imgdim>
            </options>
            <server>
                <server_ip><![CDATA[127.0.0.1]]></server_ip>
                <server_port><![CDATA[9312]]></server_port>
            </server>
        </exanto_sphinxmage>
    </default>
</config>
